*{
    box-sizing: border-box;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .container {
    display: grid;
    /* width: 400px;
    height: 400px; */
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: black;
    border: 2px solid black;
    width: fit-content; 
    height: fit-content;
 
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid white;
    text-align: center;
  }

 button{
     height: 60px;
     width: 60px;
     margin: 20px;
     border-radius: 24px;

 }

 button:hover{
     background-color: darkgray;
     
 }

 #wrapper{
     border: 2px solid white;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:white;

 }

 h1{
     font-weight: 500;
 }



