*{
    box-sizing: border-box;
}


:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  .container {
    display: grid;
    margin: 0 auto;
    min-height: 40em;
    max-height:40em;
    width: 40em;
    height: 40em; 
    resize:none;
    grid-gap: 0em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: black;
    border: 2px solid black;
    
  }
  
  .grid-item {
    border: 1px solid white;
    text-align: center;
    width:100%;
    height:100%;
  }

 button{
     height: 30px;
     width: 60px;
     margin-bottom: 8px;
     border-radius: 24px;

 }

 button:hover{
     background-color: darkgray;
     
 }

 #wrapper{
     border: 2px solid white;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color:white;

 }

 h1{
     font-weight: 500;
 }


.boxes{
  background-color:red; 
}
